#############################################
# Visual Studio
#############################################

.vs/
bin/
obj/

#############################################
# Rider
#############################################

.idea/

#############################################
# Node
#############################################

node_modules/
dist/
build/

#############################################
# Python
#############################################

__pycache__/
*.pyc
venv/
.env

#############################################
# PlatformIO
#############################################

.pio/
.vscode/

#############################################
# Database
#############################################

*.db
*.sqlite

#############################################
# Logs
#############################################

logs/
*.log

#############################################
# OS Files
#############################################

.DS_Store
Thumbs.db

#############################################
# Docker
#############################################

docker-data/
